<%- include('./partials/header.ejs') %>
<div class="paragraph">
    <p>
        THAT GUY: A man who catcalls, mansplains, claims "Not all men", and is just an all around, general asshat 
    </p>
    <p>
        Have you ever had to deal with THAT GUY? Have you ever been THAT GUY? Well this is a safe space to tell us all about it
    </p>
    <p>
        Welcome, and please, for the love of all that is good in the world, don't be THAT GUY
    </p>
</div>

<%- include('./partials/footer.ejs') %> 