* {
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: purple;
  text-align: center;
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 1fr 5vh;
}

header {
  grid-area: header;
}

nav a {
  color: #00B7FF;
  text-decoration: none;
  background-color: blueviolet;
  margin: 20px;
  padding:10px;

}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: pink;
  height: 100%;
  align-items: center;
}

nav a:last-child {
  margin-right: 30px;
}

.home-link {
  font-size: 20px;
  color: white;
  position: absolute;
  left: 30px;
  background-color: blueviolet;
  margin: 0;
}


main {
  grid-area: main;
  background-color: yellow;
}

footer{
  grid-area: footer;
}

.user_post {
  background-color: palegreen;
}

.user_name {
  background-color: lightskyblue

}

#add_comment {
  background-color: magenta;
}

.title {
  background-color: mediumslateblue;
}