<%- include('../partials/header.ejs') %>

<form action="/posts/<%= post._id %>?_method=PUT" method="POST">
    <textarea name="content" cols="50" rows="10"><%= post.content %></textarea>
    <input type="submit" value="UPDATE POST">
</form><br>

<%- include('../partials/footer.ejs') %> 