<!-- <%- include('../partials/header.ejs') %>
<div class="paragraph">
    <p>
        Feminism is not the act of hating men, we actually love men! We simply want equality, and being THAT GUY makes it a lot harder for us.
    </p>
    <p>
        If you want to make sure that you're not being THAT GUY, please consider reading the following articles. 
    </p> 
</div><br><br>
<div class="more-links">
    <div><a href="https://au.reachout.com/articles/5-seemingly-harmless-things-that-are-actually-sexist">5 Seemingly Harmless Things That Are Actually Sexist</a></div><br>
    <div><a href="https://plan-international.org/girls-get-equal/mans-role-gender-equality">What Is A Man's Role In Gender Equality Activism?</a></div><br>
    <div><a href="https://www.marieclaire.com/politics/news/a15652/gender-inequality-stats/">18 Ways Women Still Aren't Equal To Men</a></div>
</div>

<%- include('../partials/footer.ejs') %>  -->