<%- include('../partials/header.ejs') %>
<form id="add-post-form" method="POST" action="/posts">
    <label>Post:</label>
        <textarea name="content" cols="50" rows="10"></textarea><br>
        <label>Image:</label>
        <input type="text" name="imageUrl" placeholder="Insert Image URL"><br>
        <input type="submit" value="Add Post">
</form>
<%- include('../partials/footer.ejs') %> 