<%- include('../partials/header.ejs') %>
<div class="user_post"><%= post.content %></div>
<br><br>
<div>
    <form id="add_comment" method="POST" action="/posts/<%= post._id %>">
        <label>Leave A Comment:</label>
        <textarea name="content" cols="30" rows="10"></textarea>
        <input type="submit" value="Add Comment">
    </form>
</div>

<%- include('../partials/footer.ejs') %> 